# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.bpmn-to-gantt.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\github\bpmn-to-gantt\src\api\.idea\.idea.bpmn-to-gantt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
